html{
  text-align:center;
  font-family: mainFont;
}

@font-face {
    font-family: mainFont;
    src: url(../src/FredokaOne-Regular.ttf);
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main{
    /*width: 100vw;
    height: 90vh;
    overflow: visible;
    white-space: normal;*/
  }

  .elem{
    display: block;

  }
}
.overlay{
    opacity:0.8;
    background-color:#2D8D8E;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.overTime{
    opacity:1;
    background-color:#2D8D8E;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .main{
    /*width: 100vw;
    overflow: visible;
    white-space: normal;*/
  }

  .elem{
    display: block;
    height:  20vh;
  }

}
body{
  width: 100vw;
  text-align:center;

  background-color: #2D8D8E;
  max-width: 800px;
  margin: auto;
}
.main{
  /*width: 100vw;*/
  /*height: 100vh;*/
  /*border: 1px solid black;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block
    position: relative;
      /*width: 100%;
      height: 100%;*
      padding-top: 66.66%; /* 3:2 Aspect Ratio */
      display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  padding-left: 0px;
  margin-left: 0px;
}

.elem{
  /*display: inline-block;

  width: 20%;*/

  text-align: center;

  --aspect-ratio: 1/1;
}

.image{
/*position: relative;*/
  width: 80%;
  height: 90%;
   border-radius:10%;
   box-shadow: 5px 10px 25px #4c4c4c;
  /*padding-top: 66.66%; /* 3:2 Aspect Ratio */

}

header{
  text-align: center;
  margin-top: 2vh;
  display: inline-block;
  height: 25vh;

}

.clock{
zoom: 0.6;
-moz-transform: scale(0.6)
}

input{
  margin-top: 10vh;
  color: white;
  font-size: 10vh;

}

#text{
  padding-top: 25vh;
  font-size: 5vh;
}

#logo{
  position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 10vh;
}
#corr{
  position: fixed;
    bottom: 5vh;
    right: 5vw;
    background-color: #2D8D8E;
    color: white;
    font-size: 7vh;
    font-family: mainFont;
    font-weight: bold;


}

#sortable{
  position: absolute;
  height: 40vh;
  width: 70vw;
  border: 0.1vw solid black;
  left: 12vw;
  top: 35vh;
  padding: 3vh;
  border-color: white;
  border-radius: 10px;
}

li{
  height: 100%;
  width: 100%;
  text-align: center;
}
/*clock*/

#container {
  width: 40vw;
  height: 40vh;
  left : 30vw;
  top: 12vh;
  position: absolute;
}
#clock {
  width: 20vw;
  height: 20vh;
  left : 40vw;
  top:3vh;
  position: absolute;
}

#titre{
  color: white;
  top : 20vh;
  left: 41vw;
  font-size: 5vh;
  position: absolute;
}

svg{
  width: 100%;
  height: 100%;
}

#desc{
  position: absolute;
  top : 60vh;
  left: 40vw;
  font-size: 7vh;
  color: white;
}
